.Xresources
.bash_history
*.tmp
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.cat_installer/
.conda/
.docker/
.gitconfig
.gnupg/
.gtkrc-2.0
.local/
.m2/
.mozilla/
.ml4w-hyprland/
.nano/
.nix-defexpr/
.nix-profile
.npm/
.pki/
.profile
.python_history
.ssh/
.wget-hsts
.zen/
.zshrc
Desktop/
Documents/
Downloads/
Pictures/
Projects/
go/
wallpaper/
