* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #180c4a;
    color1:     #C6649E;
    color2:     #C86FA3;
    color3:     #9928CF;
    color4:     #B444C2;
    color5:     #CC8EB4;
    color6:     #CA99C6;
    color7:     #decfdd;
    color8:     #9b909a;
    color9:     #C6649E;
    color10:    #C86FA3;
    color11:    #9928CF;
    color12:    #B444C2;
    color13:    #CC8EB4;
    color14:    #CA99C6;
    color15:    #decfdd;
}
